* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Section Styles */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E554731A;
    gap: 97px;
}

.banner-title {
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px 32px 0px;

}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

.banner-img {
    width: 635px;
    height: 800px;
    margin-bottom: -5px;
}

/* Main Section Styles */

/* Section One/Bonus Section */
.bonus-section {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.section-one-title {
    margin-top: 178px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.section-one-description {
    margin-top: 24px;
    margin-bottom: 48px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.image-one {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.photo-one {
    width: 310px;
    height: 428px;
    padding: 110px 78px 67px 76px;
}

.image-two {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: #0597A026;
}

.photo-two {
    width: 370px;
    height: 370px;
    padding: 117px 47px 118px 47px;
}

.image-three {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.photo-three {
    width: 314px;
    height: 471px;
    padding: 67px 75px 67px 75px;
}

.image-title {
    color: #272727;
    text-align: center;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: -32px;
}

/* Section Two */

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E554730D;
    margin-top: 128px;
    gap: 186px;
}

.section-two-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #272727;
}

.extra-off {
    color: #E55473;
}

.section-two-description {
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* Section Three */

.section-three {

}

.section-three-title {
    margin-top: 178px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.section-three-description {
    margin-top: 24px;
    margin-bottom: 48px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-three-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

/* Section Four */
.section-four{
    text-align: center;
    background-image: url('/Rectangle\ 9.png');
    padding: 130px 0px 250px 0px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.section-four-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;
}

.section-four-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px ;
}
.input-style{
    width: 700px;
    height: 64px; 
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding-left: 10px;
    border-radius: 7px;
    margin-right: 10px;
    }

/* Footer */
.footer-container{
    height: 400px;
    text-align: center;
    background-color: #272727;
    padding-top: 180px;
}

.footer-title{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.footer-small-p{
    color: #FFFFFF66;
}